.weeklyCalorieBarContainer {
  height: 250px;
  background-color: #0f1e30;
  border: 1px solid #1e3a50;
  border-radius: 20px;
  margin-top: 20px;
}
.barGraphTitle {
  color: #38bdf8;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
}

.barChartGraph {
  margin-left: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
}

.barChartGraph {
  display: flex;
}
