.workoutsContainer {
  background-color: #0f1a0a;
/* display: flex; */
  height: 100vh;
  overflow: hidden;
}

.workoutsBanner {
  border: 2px solid gray;
  height: 325px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  background-color: rgb(6, 3, 3);
  border-radius: 10px;
}
.bannerImage {
  height: 200px;
  margin-right: 20px;
  border: 2px solid lime;
  border-radius: 20px;
}

.bannerLabel {
  color: rgb(28 183 59);
  margin-left: 20px;
}

.exerciseTitle {
  color: white;

  font-size: 30px;
}

.workoutSelectionBtns {

  margin-top: 30px;
   display: flex;
   gap: 40px;
 
}

.workoutBtnAll,
.strength,
.cardioButton,
.stretchButton,
.powerlifting,
.plyometricsButton {

  border-radius: 20px;
  height: 40px;
  width: 100px;
}


.workoutBtnAll {
  background-color: green;
}


.strength,
.cardioButton,
.stretchButton,
.powerlifting,
.plyometricsButton {
  background-color: darkgray;
}